/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Jul, 2019, 3:27:09 PM
    Author     : pavaningalkar
*/
.menulists ul{ margin: 0;padding: 0;}
.menulists ul li {
	float: left;
	margin-top: 8px;
	margin-bottom: 5px; list-style: none;
}
.menulists ul li a {
	background-image: url(http://epc.gladminds.co/static/epc/img/bg-crumbs.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative; padding: 7px 15px; border-left:solid 1px #ccc;
}
.menulists {
	margin-bottom: 3px;
	display: inline-block;
	width: 100%;
}
.menulists ul li:last-child {
	position: absolute;
	left: 62px;
}
  .nav_menu {
        float: left;
        background: #fff;
        border-bottom: 1px solid #D9DEE4;
        margin-bottom: 10px;
        width: 100%;
        position: relative;
    }
    .nav_title{ background: #fff;}

.rightmenu li {
	display: inline-block;
}
.rightmenu {
	float: right;
	margin-top: 17px;
	margin-right: 15px;
	margin-bottom: 17px;
}
.userprofiles .useravtarimg img {
	max-width: 188px;
	width: 100%;
	text-align: center;
	height: auto;
}
.userprofiles {
	text-align: center; margin-top: 12px;
}
.tophadding-bg {
	background: #646060;
	padding: 1px 13px;
	color: #FFF;
	display: inline-block;
	width: 98%;
	margin-left: 10px;
}
.nav li.current-page{background: #ECECEC !important;}
.side-menu>li>a:hover,
.side-menu>li>a:focus {
    background-color: red !important;
}
.tophadding-bg h3{font-size: 18px;}
.usernamesid span {
	margin-top: 15px;
	display: inline-block;
	width: 100%;
	font-size: 14px;
	color: #333;
}
.rightmenu li a {
	color: #0a51a1;
	font-size: 15px;
}

.rightmenu li a i {
	font-size: 20px;
	margin: 0 10px;
}

select[readonly].select2 + .select2-container {
    pointer-events: none;
    touch-action: none;
    
}

    .select2-selection {
        background: #eee;
        box-shadow: none;
    }

    .select2-selection__arrow,
    .select2-selection__clear {
        display: none;
    }

    .hide_me{
        pointer-events: none;
        touch-action: none;
        background: #eee !important;
        box-shadow: none;

    }
.text-muted {
	color: #777;
	margin-top: 9px;
}
     
    #loading, #ld2 {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 99;
        text-align: center;
    }

    .loader {
        position: absolute;
        top: 30%;
        left: 48%;
        z-index: 100;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid blue;
        border-bottom: 16px solid blue;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

